.card {
border: 2px solid #00ff00;
border-radius: 10px ;
width:  35 px;
color: green;
}
.title {
font-size: 20px;
font-weight: 900;

}
.title {
width: 200px;
height: 50px;
color: azure;
background-color: black;
}

ing {

filter: blur(40px);
}
